node_modules/
.env
*-error.log
package-lock.json
yarn.lock
.npmrc

# Build
main.js
*.js.map

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Fichiers temporaires
*.tmp
*.temp
.cache/

# Format Dora (privé)
**/typeset/**/dora*
**/typeset/**/*dora*
**/typeset/cover/IMfrench-dora6-couv-A4.tex
**/typeset/layout/IMfrench-dora6-layout.tex
**/typeset/layout/fonts/FeENsc2.ttf
**/typeset/layout/fonts/FeFCit2.ttf
**/typeset/layout/fonts/FeFCrm2.ttf
**/typeset/cover/fonts/FeENsc2.ttf
**/typeset/cover/fonts/FeFCit2.ttf
**/typeset/cover/fonts/FeFCrm2.ttf
anotes/
